<%- include("partials/header"); -%>
    <h1>About</h1>
    <h5>
        <%= aboutContent %>
    </h5>
    <div class="ml">
        <img src="images/ml.jpg" alt="mypic">
    </div>

    <%- include("partials/footer"); -%>